
html{
    margin:0px;
    padding:0px;
}
h2{
    color:lightgreen;
}

#alarm{
    /* background-color:grey; */
    background-color:darkblue;
    display:flex;
    flex-direction:row;
     flex-wrap:wrap; 
    position:relative;
    left:3vw;
    top:3vh;
    width:95vw;
    height:95vh;
    border:2px solid black;
    border-radius:2rem 2rem;
}
#displayclock{
    /* background-color:red; */
    width:40%;
    height:35%;
    margin:4px;
    padding:2px;
    flex-grow:1;
}
#timebox,#datebox{
    font-size: 20px;
    font-weight: bolder;
    font-style:normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#00807a;
    background-color:wheat;
    border-radius:2rem 2rem;
    width:55%;
    border: 2px solid yellow;
    text-align:center;
}
#alarmsetting{
     
    width:40%;
    height:35%;
    margin:4px;
    padding:2px;
    flex-grow:3;

}
ol{
    color:yellowgreen;
}
input{
    border:2px solid yellow;
    border-radius:2rem 2rem;
    background-color: wheat;

}

#myalarms{
    /* background-color:yellow; */
    font-weight: bolder;
    width:40%;
    height:57%;
    margin:4px;
    padding:4px;
    flex-grow:3;
    order:2;
    
}
#stopwatchandtimer{
    /* background-color: green; */
    width:40%;
    height:55%;
    margin:4px;
    padding:2px;
    flex-grow:1;
    order:1;

}
#stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 80%;
    padding-top: 25px;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height:150px;
    width: 150px;
  
    border: 2px solid white;
    border-radius: 50%;
  }

  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 20px;
    color: white;
  }
.controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
  }
  
  button {
    cursor: pointer;
background-color: transparent;
color:blue;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  
  #playButton {
    display: block;
  }
  
  
  #pauseButton {
    display: none;
  }
